In [45]:
import pandas as pd

In [46]:
df=pd.read_csv("spotify_millsongdata.csv")

In [47]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [48]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [49]:
df.shape

(57650, 4)

In [50]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [51]:
df= df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [52]:
df.head(10)

,artist,song,text
0,Stevie Wonder,Respect,"What you want, baby, I got. \r\nWhat you need..."
1,Blur,I'm Fine,Your man is always flaming \r\nHe's hitting h...
2,Stevie Wonder,Smile Please,A smiling face is on earth like star \r\nA fr...
3,Journey,Feeling That Way,Opened my eyes to a new kind of way \r\nAll t...
4,Cher,Like A Rolling Stone,Once upon a time you dressed so fine \r\nThre...
5,Nickelback,Believe It Or Not,"Believe it or not, everyone have things that t..."
6,Kari Jobe,Holy Spirit,There's nothing worth more that will ever come...
7,Bob Marley,Ain't No Sunshine When She's Gone,Ain't no sunshine when she's gone. \r\nIt's n...
8,Kate Bush,And Dream Of Sheep,Little light shining \r\nLittle light will gu...
9,Hank Williams,May You Never Be Alone,Like a bird that's lost its mate in flight I'm...

In [53]:
df['text'][0]

"What you want, baby, I got.  \r\nWhat you need, you know I got it.  \r\nAll I asking is for a little respect  \r\nWhen you come home, baby.  \r\nWhen you come home,  \r\nRespect.  \r\n  \r\nI ain't gonna do you wrong while you gone,  \r\nI ain't gonna do you wrong 'cause I don't wanna.  \r\nAll I asking is for a little respect  \r\nWhen you come home, baby.  \r\nWhen you come home,  \r\nRespect.  \r\n  \r\nI'm out to give you all my money  \r\nBut all I'm asking in return, honey,  \r\nIs to give me my proper respect  \r\nWhen you get home, yeah baby,  \r\nWhen you get home.  \r\n  \r\nOh, your kisses sweeter than honey  \r\nBut guess what, so here's my money.  \r\nAll I want you to do for me is give me some here  \r\nWhen you get home, yeah baby,  \r\nWhen you get home.  \r\n  \r\nR-E-S-P-E-C-T,  \r\nFind out what it means to me.  \r\nR-E-S-P-E-C-T,  \r\nHey Boy, T-C-B.  \r\nA little respect\r\n\r\n"

In [54]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [56]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex = True)

In [57]:
df.tail(5)

,artist,song,text
4995,Opeth,Famine,i can't see your face \r and i can't breathe ...
4996,Stone Temple Pilots,Atlanta,she lives in a bungalow \r she kills me with ...
4997,Bob Seger,No Mans Land,headin' in or headin' out \r standing on the ...
4998,Quincy Jones,What's Goin' On,"sister, sister, sister \r sister, sister, sis..."
4999,Garth Brooks,It Don't Matter To The Sun,it don't matter to the sun \r if you go or if...

In [58]:
import nltk
from nltk.stem.porter import PorterStemmer
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\prsna\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [59]:
stemmer = PorterStemmer()

In [60]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [61]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [62]:
df['text'].apply(lambda x: token(x))

0       what you want , babi , i got . what you need ,...
1       your man is alway flame he 's hit hi head agai...
2       a smile face is on earth like star a frown ca ...
3       open my eye to a new kind of way all the good ...
4       onc upon a time you dress so fine threw the bu...
                              ...
4995    i ca n't see your face and i ca n't breath you...
4996    she live in a bungalow she kill me with rosega...
4997    headin ' in or headin ' out stand on the shore...
4998    sister , sister , sister sister , sister , sis...
4999    it do n't matter to the sun if you go or if yo...
Name: text, Length: 5000, dtype: object

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [64]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [65]:
matrix=tfid.fit_transform(df['text'])

In [67]:
similar= cosine_similarity(matrix)

In [68]:
similar[0]

array([1.        , 0.03089509, 0.001713  , ..., 0.02094721, 0.01549983,
       0.10124144])

In [70]:
df[df['song']=='Famine'].index[0]

4995

Recommender Function

In [71]:
def recommender(song_name):
    idx= df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse=True, key= lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [73]:
recommender("Famine")

['Eye To Eye',
 'Devil Inside',
 'Hard To Believe',
 'The Same Way I Do',
 'The Way I Feel',
 'Feel No Ways',
 '- Human',
 'On My Way',
 'Never Say Die',
 'Like It Or Not',
 'I Wonder',
 "Don't Cry",
 'Ghost',
 'Everyday',
 'Never Say Die',
 'Eye Communication',
 'On The Other Hand',
 'Army Ants',
 'Long Way Home',
 'Count Me Out']

In [74]:
import pickle

In [75]:
pickle.dump(similar, open("similarity", "wb"))

In [76]:
pickle.dump(df, open("df","wb"))

In [77]:
with open('df.pkl', 'wb') as f:
    pickle.dump(df, f)

In [78]:
vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = vectorizer.fit_transform(df['text'])  

similarity = cosine_similarity(tfidf_matrix)

with open('similarity.pkl', 'wb') as f:
    pickle.dump(similarity, f)